<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image: url('/assets/1.png')">

      <div class="container">
        <div class="carousel-caption text-left">
          <span class="carousel-txt c-title">PALAWAN</span><br><br>
          <span class="carousel-txt">PHILIPPINES</span><br>
        </div>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url('/assets/2.jpg')">

      <div class="container">
        <div class="carousel-caption">
          <span class="carousel-txt h1">Relax and Enjoy Life</span>
        </div>
      </div>
    </div>
    <div class="carousel-item" style="background-image: url('/assets/3.jpg')">

      <div class="container">
        <div class="carousel-caption text-right">
          <span class="carousel-txt h1">Enjoy Your Holidays</span>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev" style="vertical-align: middle;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next" style="vertical-align: middle;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<style>
  .c-title {
    font-size: 50pt;
  }
  .carousel-txt {
    background-color: white;
    color: black;
    padding: 5px;
  }
</style>
